.theme {
  grid-column: 3 / span 1;
  justify-self: center;
  align-self: center;
  height: 2rem;
  cursor: pointer;
}

.theme:focus {
  background-color: var(--bgActiveBtn);
  width: 2rem;
  border-radius: 9rem;
  outline: none;
}

@media (max-width: 420px) {
  .theme {
    grid-column: 5 / span 2;
    grid-row: 1 / span 2;
    height: 2.7rem;
  }
}