.dark {
  background-color: hsl(240, 18%, 14%);
  
}
.light {
  background-color: hsl(240, 18%, 75%);
  
}
.drumMachine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  max-height: 500px;
  width: 85%;
  max-width: 600px;
  /* background-color: var(--bgDrumMachineDark); */
  border-radius: 10px;
  box-shadow: 0px 0px 55px 10px;
  padding: 1rem 1rem;
  padding-top: 0.2rem;
  min-height: 21rem;
}

@media (max-height: 650px) {
  .drum-machine {
    height: 90%;
  }
}
