.darkBtn {
  background-color: var(--bgInactiveBtnDark);
  box-shadow: var(--shadowBtnDark);
}
.darkBtnHover {
  box-shadow: var(--shadowHoverBtnDark);
}
.darkBtnFocus {
  box-shadow: 0px -0.2rem 0rem -0.1rem white inset, var(--shadowBtnDark);
  outline: none;
}
.lightBtn {
  background-color: var(--bgInactiveBtnLight);
  box-shadow: var(--shadowBtnLight);
}
.lightBtnHover {
  box-shadow: var(--shadowHoverBtnLight);
}
.lightBtnFocus {
  border-bottom: var(--focusBtnLight);
  box-shadow: 0px -0.2rem 0rem -0.1rem rgb(255, 255, 255) inset,
    var(--shadowBtnLight);
  outline: none;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  border-radius: 0.7em;
  min-height: 2rem;
  max-height: 4.5rem;
}

.hoverScale .key-code {
  transform: scale(0.9);
}

.key-code {
  color: var(--fontColorDark);
  text-align: center;
  font-size: 1rem;
}

.playing {
  animation: colorFade 0.2s ease-out, shadowFade 0.2s ease-out;
}

@keyframes colorFade {
  0% {
    background: var(--bgInactiveBtn);
  }
  /* Adding a step in the middle */
  50% {
    background: var(--bgActiveBtn);
  }
  100% {
    background: var(--bgInactiveBtn);
  }
}
@keyframes shadowFade {
  from {
    box-shadow: 0px 0px 5px 2px;
  }
  to {
    box-shadow: 0 0 1rem 0px #ffc600;
  }
}
