.drum-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    height: 70%;
    max-height: 500px;
    width: 85%;
    max-width: 600px;
    background-color: rgb(106, 106, 121);
    border-radius: 10px;
    box-shadow: 0px 0px 55px 10px;

}

.controls {
    width: 90%;
}

@media ( max-height: 650px ) {
    .drum-machine {
        height: 90%;
    }
}



