.darkBtn {
  background-color: var(--bgInactiveBtnDark);
  box-shadow: var(--shadowBtnDark);
}
.darkBtnHover {
  box-shadow: var(--shadowHoverBtnDark);
}
.darkBtn:focus {
  border-bottom: var(--focusBtnDark);
  outline: none;
}
.lightBtn {
  background-color: var(--bgInactiveBtnLight);
  box-shadow: var(--shadowBtnLight);
}
.lightBtnHover {
  box-shadow: var(--shadowHoverBtnLight);
}
.lightBtn:focus {
  border-bottom: var(--focusBtnLight);
  outline: none;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bgInactiveBtnDark); */
  border-radius: 0.7em;
  cursor: pointer;
  border: none;

  min-height: 2rem;
}

.hoverScale .key-code {
  transform: scale(0.9);
}

.key-code {
  color: var(--fontColorDark);
  text-align: center;
  font-size: 1rem;
}

.playing {
  /* font-size: 2rem; */
  animation: colorFade 0.2s ease-out, shadowFade 0.2s ease-out;
}

@keyframes colorFade {
  0% {
    background: var(--bgInactiveBtn);
  }
  /* Adding a step in the middle */
  50% {
    background: var(--bgActiveBtn);
  }
  100% {
    background: var(--bgInactiveBtn);
  }
}
@keyframes shadowFade {
  from {
    box-shadow: 0px 0px 5px 2px;
  }
  to {
    box-shadow: 0 0 1rem 0px #ffc600;
  }
}

/* @keyframes borderEffect {
  from {

  }
} */

/* @media (max-height: 650px) {
    .drum-pad {
      min-height: 1.5rem;
    }
} */
