.darkDrumMachine {
  background-color: hsl(240, 18%, 14%);
  /* color:red; */
}
.lightDrumMachine {
  background-color: hsl(240, 18%, 75%);
  /* color: hsl(241deg 52% 22%); */
}
.drumMachine {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 70%;
  max-height: 500px;
  width: 85%;
  max-width: 600px;
  /* background-color: var(--bgDrumMachineDark); */
  border-radius: 10px;
  box-shadow: 0px 0px 55px 10px;
  padding: 1rem 1rem;
  padding-top: 0.2rem;
  min-height: 21rem;
}
/* Mobile View */

@media (max-width: 420px) and (min-height: 560px) {
  .drumMachine {
    height: 90%;
    max-height: 40rem;
}
}


@media (max-width: 420px) and (min-height: 660px) {
  .drumMachine {
    height: 95%;
    width: 95;
    max-height: 40rem;
    justify-content: space-between;
}
}


/* Desktop View */
@media (min-width: 720px) {

}
