.header {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: var(--fontColorDark);
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.title {
  justify-self: start;
  align-self: center;
  font-size: 1.2em;
  grid-column: 1 / span 2;
  font-weight: 400;
  padding-left: 0;
  margin: 0;
}

.author {
  font-family: Waiting for the sunrise;
  font-size: 1.3em;
  grid-column: 4 / span 2;
  font-weight: 500;
  justify-self: end;
  align-self: center;
}

/* .theme :first-child:hover {
  fill: blue;
} */
svg :hover path{
  transform: rotateX(2rem);
}

@media (max-height: 650px) {
  .theme {
    height: 2rem;
  }
}

@media (max-width:420px) {
  .header {
    grid-template-rows: repeat(2, 1fr);
  }

  .title {
    grid-column: 1 / span 4;
    grid-row: 1 / span 1;
    font-size: 1.2em;
    padding: 0.2em 0;
  }

  .author {
    grid-column: 1 / span 4;
    grid-row: 2 / span 1;
    font-size: small;
    justify-self: start;
  }

}


