.dark {
  background-color: hsl(240, 25%, 10%);
}
.light {
  background-color: hsl(240, 15%, 95%);
}

.off {
  opacity: var(--opacity);
}

.hidden {
  content-visibility: hidden;
}

.hiddenInput {
  visibility: hidden;
}
.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: var(--bgMainDark); */
}
